---
Version: '2012-10-17'
Statement:
- Sid: VisualEditor0
  Effect: Allow
  Action:
  - s3:GetObject
  - s3:PutBucketNotification
  - s3:GetBucketTagging
  - s3:ListAllMyBuckets
  - s3:PutBucketTagging
  - s3:GetObjectTagging
  - s3:ListBucket
  - s3:PutObjectTagging
  Resource: "*"
- Sid: VisualEditor1
  Effect: Allow
  Action: dynamodb:PutItem
  Resource: arn:aws:dynamodb:us-east-1:<AWS ACCOUNT>:table/sensitive_data
